@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

/*nav, footer, header, aside {
  display: block;
}*/

html, body {
  height: 100%;
  width: 100%;
  /*font-size: 100%;*/
  line-height: 1;
  /*font-size: 14px;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

main {
  height: 720px;
}

/* main */
main .container{
  max-width: 1230px;
    margin: 0px auto;
    padding: 15px 10px;
}
.basket__item{
  display: flex;
  justify-content: space-between;
}
.p_basket{
  font-family: 'Abel', sans-serif;
  font-size: 32px;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
  margin-bottom: 30px;
}
.name{
  margin-left: 50px;
}
.name p{
 
  font-size: 24px;
  font-family: 'Abel', sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
}
.description{
  font-size: 20px;
  font-family: "Alegreya", serif;
  margin-bottom: 40px;
  font-style: italic;
}
.picture img{
  width:150px;

}
.price{
  font-size: 20px;
  white-space: nowrap;
  color: red;
}
.btn_basket{
  margin-left: 860px;
}
.btn_basket .delete{
    background-color: rgb(233, 233, 233);
    border: none;
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
.btn_basket .buy{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
/* footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #141316;
  padding: 30px 40px 10px 40px;
}
footer .footer_text {
  font-family: "Alegreya", serif;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 1px;
}
footer .social {
  display: flex;
}
footer .social_text {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: #fff;
  white-space: nowrap;
  position: relative;
  top: 5px;
}
.social_links a {
  margin-left: 10px;
  color: #fff;
  font-size: 24px;
}
footer .footer__info {
  display: flex;
  justify-content: space-between;
}
